<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main id="page-not-found">
        <img src="/images/pageNF.png" alt="">
        <h1>Page Not Found</h1>
    </main>
<%- include('partials/footer') %>
