<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main id="about" class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat enim, animi, repudiandae dolor dolorem quod exercitationem sit totam id illum assumenda dicta et ea eum. Similique neque cum, quisquam eius ratione libero dignissimos iste necessitatibus labore molestias esse velit odit!</p>
        <div id="tech-stack">
            <p><a href="https://devdocs.io/html/" target="_blank"><img src="/images/html.png" alt=""></a></p>
            <p><a href="https://devdocs.io/css/" target="_blank"><img src="/images/css.png" alt=""></a></p>
            <p><a href="https://devdocs.io/javascript/" target="_blank"><img src="/images/js.png" alt=""></a></p>
            <p><a href="https://devdocs.io/dom/node" target="_blank"><img src="/images/njs.svg" alt=""></a></p>
            <p><a href="https://dev.mysql.com/doc/" target="_blank"><img src="/images/mysql.png" alt=""></a></p>
            <p><a href="https://expressjs.com/" target="_blank"><img src="/images/exp.png" alt=""></a></p>
        </div>
    </main>





<%- include('partials/footer') %>