<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main id="about" class="container">
        <p>LISt App is one of my first projects in <b>Web dev</b> journey. The app basically works as a notebook where you can keep a list of items. From shopping to groceries, tasks to to-do-list, reminders and many more. The <strong>LISt app</strong> is a tool you need to list all the items you need all in one place. You can easily access the list, add  items, mark done and also delete items</p>
        <div id="tech-stack">   
                <p><a href="https://devdocs.io/html/" target="_blank"><img src="/images/html.png" alt=""></a></p>
                <p><a href="https://devdocs.io/css/" target="_blank"><img src="/images/css.png" alt=""></a></p>
                <p><a href="https://devdocs.io/javascript/" target="_blank"><img src="/images/js.png" alt=""></a></p>
                <p><a href="https://dev.mysql.com/doc/" target="_blank"><img src="/images/mysql.png" alt=""></a></p>
                <p><a href="https://devdocs.io/dom/node" target="_blank"><img src="/images/njs.svg" alt=""></a></p>
                <p><a href="https://expressjs.com/" target="_blank"><img src="/images/exp.png" alt=""></a></p>
        </div>
    </main>
<%- include('partials/footer') %>