<%- include('partials/header') %>
    <h1>About Page</h1>
    <script src="/js/data.js"></script>
    <!-- Create a variable -->
    <% const marks = [10,39, 87, 26] %>
    <% let name = 'Project High Jump' %>
    <!-- Displaying output -->
    <p><%= name %></p>
    <%= marks %>

<%- include('partials/footer') %>