<%- include('partials/header') %>

    <main id="home" class="container">
        <div>
            <div class="col">
                <h1>LISt</h1>
                <p>Forget forgetting. Organise your shopping list efficiently using <b>LISt</b></p>
                <a href="/list">View List</a>
            </div>
            <div class="col">
                <img src="/images/cart.png" alt="">
            </div>
        </div>
    </main>

<%- include('partials/footer') %>