<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main id="items" class="container">

        <p id="heading"><span>ID</span> Item</p>

    </main>

<%- include('partials/footer') %>