@font-face {
    font-family: Dosis-Regular;
    src: url(Dosis-Regular.ttf);
}
@font-face {
    font-family: Dosis-Bold;
    src: url(Dosis-Bold.ttf);
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Dosis-Regular;
}
.container{
    padding-left: 150px;
    padding-right: 150px;
}
#home {
    height: 100vh;
    display: grid;
    place-items: center;
}
#home > div {
    display: flex;
    align-items: center;
}

#home .col {
    width: 50%;
}
#home img {
    width: 100%;
}
#home h1 {
    font-family: Dosis-Bold;
    font-size: 42px;
    margin-bottom: 10px;
}
#home p {
    font-size: 32px;
    margin-bottom: 10px;
}
#home a {
    text-decoration: none;
    background-color: #29a0b1;
    border: 1px solid #29a0b1;
    color: white;
    font-size: 25px;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width: max-content;
    letter-spacing: 3px;
}

#home a:hover {
    background-color: white;
    color: #29a0b1;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29a0b1;
    height: 70px;
}
#logo {
    height: 40px;
    border-radius: 10px;
}
nav a {
    text-decoration: none;
    color: white;
}
nav li {
    display: inline;
    font-size: 25px;
    margin-left: 10px;
}
nav li:hover {
    border-bottom: 2px solid white;
}
 
#about {
    margin-top: 40px;
}

#about > p {
    font-size: 27px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
#about #tech-stack {
    display: flex;
    justify-content: center;
    gap: 6px;
}
#about #tech-stack img {
    height: 64px;
}
#about #tech-stack p {
    margin-top: 20px;
    font-size: 18px;
    padding: 8px 10px;
    border: 2px solid #2fc3da;
    border-radius: 5px;
    width: max-content;
    background-color: #2fc3da;
}
#about #tech-stack p:hover {
    background-color: #00ddff;
} 
#page-not-found {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}
#page-not-found img {   
    width: 50%;
}
#add-item form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
#add-item input {
    font-size: 26px;
    padding: 8px;
}
#add-item input[type='submit'] {
    width: fit-content;
    letter-spacing: 3px;
    font-size: 18px;
    margin: 10px auto 0;
    background-color: #29a0b1;
    border: 1px solid #29a0b1;
    padding: 10px 14px;
    color: #fff;
    border-radius: 5px;
}
#add-item input[type='submit']:hover {
    background-color: #fff;
    color: #29a0b1;
}
#items {
    margin-top: 15px;
    font-size: 25px;
}
#items #heading {
    background-color: #adb3bc;
    color: #fff;
    font-family: Dosis-Bold;
    padding: 15px;
}
#items #heading span {
    width: 10px;
    margin-right: 20px;
    font-family: Dosis-Bold;
}
#items .item {
    padding: 15px;
    border-bottom: 1px solid #adb3bc;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
#items .item-id {
    width: 10px;
    margin-right: 20px;
}
#items .edit-btn {
    text-decoration: none;
    color: #fff;
    background-color: #03a65a;
    border: 1px solid #03a65a;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 18px;
    font-family: Dosis-Bold;
}
#items .edit-btn:hover {
    background-color: #016236;
    border: 1px solid #016236;
} 


@media only screen and (max-width: 730px) {
    .container{
        padding-left: 25px;
        padding-right: 25px;
    }  
    #home > div {
        display: flex;
        flex-direction: column;
    }  
    #home .col {
        width: 100%;
    }
    
}